body {
    font-family: Lato, Helvetica, sans-serif;
}
#main {
    background-color: rgb(57, 137, 218);
    width: 280px;
    height: 1000px;
    word-wrap: break-word;
    top: 20px;
    position: absolute;
}
#photo {
    position: absolute;
    border-radius: 200px;
    border: 3px solid white;
    left: 25px;
    top: 10px;
}
.contacts {
    position: relative;
    top: 210px;
    color: white;
    left: 10px;
}
.summary {
 position: relative;
 top: 210px;
 color: white;
 left: 10px;
 width: 270px;
}
.lang {
    position: relative;
    top: 210px;
    color: white;
    line-height: 30px;
    left: 10px;
}
.lit {
    position: relative;
    top: 200px;
    color: white;
    line-height: 30px;
    left: 10px;
    width: 270px;
}
.Names {
    position: relative;
    left: 300px;
    width: 500px;
    height: 1000px;
    top: 20px;
}
#name {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 40px;
}
#titl2 {
    position: relative;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 20px;
}
.tec {
position: relative;
left: 20px;
top: 40px;
color: rgb(91, 155, 213);
}
#skills {
    position: relative;
    left: 20px;
    column-count: 2;
    top: 30px;
    }
.Ed {
    position: relative;
    left: 20px;
    top: 40px;
    color: rgb(91, 155, 213);
}
.WORK {
    position: relative;
    left: 20px;
    top: 40px;
    color: rgb(91, 155, 213);
}
hr{
    border: none;
    background-color: black;
    color: black;
    height: 2px;
    position: relative;
    top: 30px;
}
.textcols {
	white-space: nowrap;
    position: relative;
    left: 20px;
    top: 50px;
}
.textcols-item {
	white-space: normal;	
	display: inline-block;
	width: 48%;
	vertical-align: top;
}
.textcols .textcols-item:first-child {
	margin-right: 4%;
}
.type {
    position: relative;
    right: 50px;
    font-style: italic;
    color: gray;
}
.date {
    font-weight: 700;
}
.nm {
    color: black;
    font-style: normal;
}
.we {
	white-space: nowrap;
    position: relative;
    left: 20px;
    top: 40px;
}
.we_items {
	white-space: normal;	
	display: inline-block;
	width: 48%;
	vertical-align: top;
}
.we .we_items:first-child {
	margin-right: 4%;
}
 .desc{
    position: relative;
    right: 50px;
    font-style: italic;
    color: gray;
}
.date2 {
    font-weight: 700;
}
#sale {
    color: black;
    font-style: normal;
}