p {
    color: red;
}
/* comentar */
#text {
    color: blue;
}
.par {
    color: aqua;
    font-style: ;
}
div {
    background-color: blueviolet;
}
.bg {
    background-color: black;
}
span {
    color: black;
    text-transform: uppercase;
}
body {
    background-color: brown;
}